.modal-total.visible{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-total{
    visibility: hidden;
    position: fixed;
}

.modal-form{
    width: 40vw;
    height: auto;
    background-color: white;
    padding: 2%;
}

.modal-form legend{
    font-size: 17px;
    margin-bottom: 1%;
    margin-right: 2%;
    color: black;
}

.modal-form input[type="text"]{
    width: 100%;
    font-size: 20px;
    padding: 1%;
}

.modal-form .form-foot{
    display: flex;
    margin-top: 1%;
    align-items: center;
    justify-content: space-between;
}

.modal-form .form-foot input[type="number"]{
    width: 3.5vw;
    font-size: 20px;
    margin-right: 1%;
}

.modal-form .form-foot input[type="text"]{
    width: 3.5vw;
    font-size: 20px;
    margin-right: 1%;
    padding: 0%;
}

.modal-form .form-foot input[type="date"]{
    width: 10vw;
    font-size: 20px;
}

.button-modal{
    margin-top: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-modal input, .button-modal a{
    width: 49%;
}

.button-modal a{
    text-align: center;
}

.modal-form .button-modal .btn-register{
    background-color: tomato;
    border: 0px;
    color: white;
    font-size: 20px;
    padding: 1%;
    cursor: pointer;
}

.modal-form .button-modal .btn-cancel{
    background-color: white;
    border: 2px solid tomato;
    color: tomato;
    font-size: 20px;
    padding: 1%;
    cursor: pointer;
}

.modal-form .button-modal .btn-register:hover{
    background-color: rgb(255, 177, 163);
}

.modal-form .button-modal .btn-cancel:hover{
    background-color: rgb(223, 223, 223);
}


